.card {
    margin: 3px;
    box-sizing: border-box;
    width: 140px;
    height: auto;
    position: relative;
    margin-top: -150px; /* add -10px to stack closer */
    counter-increment: card-index; /* Increment the counter for each card */
    z-index: counter(card-index); /* card-index from CardContainer component */
}

.card:first-child {
    margin-top: 3px;
}